[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
pillow = "*"
qrcode = "*"
weasyprint = "*"
pyaes256 = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
